<div class="c-tui-editor form-group mb-0">
  <ng-form name="tui-editorform" ng-show="edit">
    <div class="js-tui-editor__editor"></div>
    <input class="ng-hide" type="text" name="empty" ng-model="text" ng-model-options="{allowInvalid: true}" ng-maxlength="{{maxlength}}" ng-required="isRequired"/>
    
    <div class="small mt-1">
      <span class="text-danger" ng-if="text.length > maxlength">Content is too long!</span>
      <span class="text-danger" ng-if="isRequired && text.length == 0">Required!</span>
      <span class="text-muted float-right">{{ctrl.getWordCount()}}</span>
    </div>
  </ng-form>
  <div class="c-tui-editor__preview u-word-wrap-break-word" ng-bind-html="ctrl.tuiEditor.getHtml()" ng-if="!edit">
  </div>
</div>
